<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais</title>
</head>
<body>
    <h1>Lista de Animais</h1>
    <ul>
        {% for animal in animais %}
            <li>{{ animal }}</li>
        {% endfor %}
    </ul>

    <h2>Adicionar Novo Animal</h2>
    <form method="POST" action="/animais">
        <label for="nome_animal">Nome do Animal:</label>
        <input type="text" id="nome_animal" name="nome_animal" required>
        <button type="submit">Adicionar Animal</button>
    </form>
</body>
</html>
